# Tratamento de dados

In [115]:
import pandas as pd

# Separando dados para Treino e Teste

In [116]:
# Para base de Treino
base = pd.read_csv('../datasets/titanic_train.csv')
base = base.drop('Cabin', axis=1)
base = base.dropna()
colunas = base.dtypes[base.dtypes.values == 'object'].index
base = base.drop(colunas, axis=1)

In [117]:
# Para base de Teste
teste = pd.read_csv('../datasets/titanic_train.csv')
teste = teste.drop('Cabin', axis=1)
teste = teste.dropna()
teste = teste.drop(colunas, axis=1)

# Avaliando o modelo

In [118]:
# Definindo o X e o y para o treino
X_treino = teste.drop('Survived', axis=1)
y_treino = base.Survived

In [119]:
# Definindo o X e o y para o teste
X_teste = teste.drop('Survived', axis=1)
y_teste = base.Survived

# Usando os algoritmos e avaliando o erro

In [120]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

In [121]:
# Fazendo o fit do modelo
neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clflog = clfLog.fit(X_treino, y_treino)

In [122]:
# Fazendo a predição
pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

In [123]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [124]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.7907303370786517
1.0
0.7064606741573034

In [125]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.7982832618025751
1.0
0.6820276497695853

In [126]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.6458333333333334
1.0
0.5138888888888888

# Etapa 1 Tratamento de dados

In [127]:
base = pd.read_csv('../datasets/titanic_train.csv')
base.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

## Retirando colunas com alta cardinalidade
- Para o modelo aprender e não decorar
- Evitar overfitting(se ajusta muito bem ao conjunto de dados anteriormente observado, mas se mostra ineficaz para prever novos resultados)

In [128]:
# Retirnado as colunas Name e PassengerId com alta cardinalidades
base = base.drop(['Name','PassengerId'], axis=1) # eixo axis=1 coluna

In [129]:
# Retirando coluna 'Cabin' por causa da alta cardinalidade e pela quantidade de valores vazios
base = base.drop('Cabin', axis=1)

## Na idade substituir os valores vazios com a media das idades

In [130]:
# Calculando a média
base['Age'].mean()

np.float64(29.69911764705882)

In [131]:
# Filtrando apaenas Age vazio
# base[base.Age.isnull()] mostra todas as colunas

base.loc[base.Age.isnull(),'Age'] # mostra so a idade

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [132]:
# Atribuindo a mádia da idade ao valores vazios
base.loc[base.Age.isnull(),'Age'] = base['Age'].mean()

## Apagar as linhas com valores vazios

In [133]:
base = base.dropna()

## Apagando os dados do tipo objeto

In [134]:
colunas = base.dtypes[base.dtypes.values == 'object'].index
base = base.drop(colunas, axis=1)

In [135]:
# Verificando informações
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Age       889 non-null    float64
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Fare      889 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 48.6 KB

In [136]:
# Para base de teste
teste = pd.read_csv('../datasets/titanic_train.csv')
teste = teste.drop(['PassengerId','Name'], axis=1)
teste = teste.drop('Cabin', axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas, axis=1)

In [137]:
# Definindo o X e o y para o treino
X_treino = teste.drop('Survived', axis=1)
y_treino = base.Survived

In [138]:
# Definindo o X e o y para o teste
X_teste = teste.drop('Survived', axis=1)
y_teste = base.Survived

In [139]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

In [140]:
# Fazendo o fit do modelo
neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clflog = clfLog.fit(X_treino, y_treino)

In [141]:
# Fazendo a predição
pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

In [142]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [143]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.8008998875140607
0.9572553430821147
0.703037120359955

In [144]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.7492354740061162
0.9778481012658228
0.6696428571428571

In [145]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.7205882352941176
0.9088235294117647
0.4411764705882353

# Etapa 2: incluindo informaçoes de gênero na base

In [146]:
# Para a base de treino
base = pd.read_csv('../datasets/titanic_train.csv')
base.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [147]:
# Quais informações tenho na coluna gênero
base.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [148]:
# Criando uma nova coluna avaliando apenas se o valor e Male
# Função lambda para verificar a coluna criada
base['IsMale'] = base.Sex.apply(lambda x:1 if x == 'male' else 0)

In [149]:
# Visualizando nova coluna, valores adicionados
base.groupby(['Sex','IsMale'])['Sex'].count()

Sex     IsMale
female  0         314
male    1         577
Name: Sex, dtype: int64

# Mesmo tratamentos da etapa 1

In [150]:
base = base.drop(['PassengerId','Name'], axis=1)
base = base.drop('Cabin', axis=1)
base.loc[base.Age.isnull(),'Age'] = base.Age.mean()
base = base.dropna()
base = base.drop(colunas, axis=1)

In [151]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Age       889 non-null    float64
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Fare      889 non-null    float64
 6   IsMale    889 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 55.6 KB

In [152]:
teste = pd.read_csv('../datasets/titanic_train.csv')
teste['IsMale'] = teste['Sex'].apply(lambda x:1 if x == 'male' else 0)
teste = teste.drop(['PassengerId','Name'], axis=1)
teste = teste.drop('Cabin', axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas, axis=1)

## Avaliando o modelo

In [153]:
# Definindo o X e o y para o treino
X_treino = teste.drop('Survived', axis=1)
y_treino = base.Survived

In [154]:
# Definindo o X e o y para o teste
X_teste = teste.drop('Survived', axis=1)
y_teste = base.Survived

## Usando os algoritmos e avaliando o erro

In [174]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

In [156]:
# Fazendo o fit do modelo
neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clflog = clfLog.fit(X_treino, y_treino)

In [157]:
# Fazendo a predição
pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

In [158]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [159]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.8413948256467941
0.9820022497187851
0.7975253093363329

In [160]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.8178913738019169
0.9939024390243902
0.75

In [161]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.7529411764705882
0.9588235294117647
0.7058823529411765

# Etapa 3: incluindo a informação do porto de embarque - (Piorou)

In [164]:
# Para a base de treino
base = pd.read_csv('../datasets/titanic_train.csv')
base.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

# Utilizando o get_dummies

In [166]:
pd.get_dummies(base.Embarked).head(3)

       C      Q      S
0  False  False   True
1   True  False  False
2  False  False   True

In [168]:
# Unindo essas informações na base
base = pd.concat([base,pd.get_dummies(base.Embarked)], axis=1)

## Fazer os tratamentos das etapas anteriores

In [169]:
base = base.drop(['PassengerId','Name'], axis=1)
base['IsMale'] = base['Sex'].apply(lambda x:1 if x == 'male' else 0)
base = base.drop('Cabin', axis=1)
base.loc[base.Age.isnull(),'Age'] = base.Age.mean()
base = base.dropna()
base = base.drop(colunas, axis=1)

In [171]:
teste = pd.read_csv('../datasets/titanic_train.csv')
teste['IsMale'] = teste['Sex'].apply(lambda x:1 if x == 'male' else 0)
teste = pd.concat([teste,pd.get_dummies(teste.Embarked)], axis=1)
teste = teste.drop(['PassengerId','Name'], axis=1)
teste = teste.drop('Cabin', axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas, axis=1)

## Avaliar o modelo

In [172]:
# Definindo o X e o y para o treino
X_treino = teste.drop('Survived', axis=1)
y_treino = base.Survived

In [175]:
# Definindo o X e o y para o teste
X_teste = teste.drop('Survived', axis=1)
y_teste = base.Survived

## Usando os algoritmos e avaliando o erro

In [176]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

In [177]:
# Fazendo o fit do modelo
neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clflog = clfLog.fit(X_treino, y_treino)

In [178]:
# Fazendo a predição
pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

In [179]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [180]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.8335208098987626
0.9820022497187851
0.8008998875140607

In [181]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.8057324840764332
0.9939024390243902
0.7603833865814696

In [182]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.7441176470588236
0.9588235294117647
0.7

## Avaliar o modelo

In [ ]:
# Definindo o X e o y para o treino
X_treino = teste.drop('Survived', axis=1)
y_treino = base.Survived

In [ ]:
# Definindo o X e o y para o teste
X_teste = teste.drop('Survived', axis=1)
y_teste = base.Survived

## Usando os algoritmos e avaliando o erro

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

In [ ]:
# Fazendo o fit do modelo
neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clflog = clfLog.fit(X_treino, y_treino)

In [ ]:
# Fazendo a predição
pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

In [ ]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [ ]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.8335208098987626
0.9820022497187851
0.8008998875140607

In [ ]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.8057324840764332
0.9939024390243902
0.7603833865814696

In [ ]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.7441176470588236
0.9588235294117647
0.7

# Etapa 4: Retiranado colunas da base

In [ ]:
# Fazendo os tratamentos
base = pd.read_csv('../datasets/titanic_train.csv')
#base = pd.concat([base,pd.get_dummies(base.Embarked)], axis=1)
base = base.drop(['PassengerId','Name'], axis=1)
base['IsMale'] = base['Sex'].apply(lambda x:1 if x == 'male' else 0)
base = base.drop('Cabin', axis=1)
base.loc[base.Age.isnull(),'Age'] = base.Age.mean()
base = base.dropna()
base = base.drop(colunas, axis=1)
base.head(2)

   Survived  Pclass   Age  SibSp  Parch     Fare      C      Q      S  IsMale
0         0       3  22.0      1      0   7.2500  False  False   True       1
1         1       1  38.0      1      0  71.2833   True  False  False       0

In [184]:
# Retirar Outras colunas da base
retirar = ['Fare']
base = base.drop(retirar,axis=1)

In [185]:
# Base para teste
teste = pd.read_csv('../datasets/titanic_train.csv')
teste['IsMale'] = teste['Sex'].apply(lambda x:1 if x == 'male' else 0)
#teste = pd.concat([teste,pd.get_dummies(teste.Embarked)], axis=1)
teste = teste.drop(['PassengerId','Name'], axis=1)
teste = teste.drop('Cabin', axis=1)
teste.loc[teste.Age.isnull(),'Age'] = teste.Age.mean()
teste = teste.dropna()
teste = teste.drop(colunas, axis=1)
teste = teste.drop(retirar, axis=1)

## Avaliar o modelo

In [186]:
# Definindo o X e o y para o treino
X_treino = teste.drop('Survived', axis=1)
y_treino = base.Survived

In [187]:
# Definindo o X e o y para o teste
X_teste = teste.drop('Survived', axis=1)
y_teste = base.Survived

## Usando os algoritmos e avaliando o erro

In [188]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)

from sklearn import tree
clfArvore = tree.DecisionTreeClassifier(random_state=0)

from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0, max_iter=1000)

In [189]:
# Fazendo o fit do modelo
neight = neigh.fit(X_treino, y_treino)

clfArvore = clfArvore.fit(X_treino, y_treino)

clflog = clfLog.fit(X_treino, y_treino)

In [190]:
# Fazendo a predição
pred_KNN = neigh.predict(X_teste)

pred_Arvore = clfArvore.predict(X_teste)

pred_Log = clfLog.predict(X_teste)

In [191]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [192]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.8695163104611924
0.9201349831271091
0.7907761529808774

In [193]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.8478260869565217
0.9559322033898305
0.7361963190184049

In [194]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.8029411764705883
0.8294117647058824
0.7058823529411765